.container {
  margin-top: clamp(var(--spacing-7), -0.56rem + 7.41vw, var(--spacing-9));
  margin-bottom: clamp(var(--spacing-9), 3.22rem + 3.7vw, var(--spacing-10));
}

.container h2 {
  color: #000;
  font-size: clamp(var(--fs-xl), 0.14rem + 2.31vw, var(--fs-3xl));
  margin-bottom: clamp(var(--spacing-2), 0.25rem + 0.52vw, var(--spacing-3));
}

.tours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-5);
}

.tours > * {
  width: 100%;
}

.moreBtnContainer {
  display: flex;
  justify-content: center;
}

.moreBtn {
  color: rgba(0, 0, 0, 0.502);
  font-size: var(--fs-sm);
  padding: var(--spacing-2);
  margin-top: var(--spacing-1);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
