.container {
  text-align: center;
  margin-top: clamp(var(--spacing-5), 7vw - 4px, var(--spacing-9));
  margin-bottom: clamp(var(--spacing-10), -4vw + 144px, var(--spacing-11));
}

.title {
  font-weight: var(--fw-semibold);
  margin-top: -28px;
  font-size: clamp(24px, 2vw + 16px, 36px);
  margin-bottom: clamp(var(--spacing-5), 7vw - 4px, var(--spacing-9));
}

.backToHomeBtn {
  font-weight: var(--fw-semibold);
  color: var(--color-primary);
  background: rgb(216, 255, 225);
  border-radius: var(--radius-xl);
  padding: clamp(var(--spacing-3), 0.5vw + 10px, var(--spacing-4))
    clamp(var(--spacing-4), 4vw + 0px, var(--spacing-7));
  font-size: clamp(var(--fs-xl), 1.5vw + 14px, var(--fs-3xl));
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: clamp(333px, 45vw, 555px);
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.imageWrapper img {
  object-fit: contain;
}

@media (width >= 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-7);
  }

  .imageWrapper {
    order: 2;
  }

  .content {
    text-align: start;
  }
}
