.header {
  display: flex;
  align-items: center;
  padding: clamp(12px, 0.4vw + 11px, 16px);
  font-size: clamp(12px, 0.4vw + 11px, 16px);
  font-weight: 400;
  color: #282828cc;
  background: rgb(219, 219, 219);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);

  @media (min-width: 768px) {
    color: #000;
    background: var(--bg-secondary);
  }
}

.header .type {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.header > p {
  flex: 1;
}

.headerItem {
  text-align: center;
}

.unit {
  font-size: var(--fs-xs);
}

.TransactionList {
  border: var(--border-width-thin) solid var(--border-color-default);
  border-top-color: transparent;
  border-bottom-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
}
