.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-header);
  padding: var(--spacing-3) var(--spacing-6);
  /* background: var(--bg-surface); */
  background-color: rgb(255 255 255 / 70%);
  backdrop-filter: blur(12px);
  animation: shrinkHeader auto;
  animation-timeline: scroll(root);
}
@keyframes shrinkHeader {
  1%,
  100% {
    box-shadow: var(--shadow-nav-bar);
  }
}
.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.navbar {
  display: none;
  gap: var(--spacing-6);
  align-items: center;
}

.logo {
  width: 100px;
  height: 30px;
}

.menuList {
  display: flex;
  gap: var(--spacing-6);
  align-items: center;
}

.menuList li {
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--text-primary);
  cursor: pointer;
}

.menuList li.active {
  color: var(--color-primary);
}

.menuBtn {
  position: relative;
  width: 20px;
  height: 16px;
}

.menuBtn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  cursor: pointer;
  content: "";
  background-color: var(--color-primary-dark);
  border-radius: var(--radius-sm);
  box-shadow:
    0 7px 0 var(--color-primary-dark),
    0 14px 0 var(--color-primary-dark);
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.footer_content {
  width: 100%;
  max-width: var(--container-max-width);
  padding: 0 var(--spacing-6);
  padding-top: var(--spacing-5);
  border-top: var(--border-width-thin) solid var(--border-color-muted);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top h2 {
  margin-bottom: var(--spacing-5);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-semibold);
}

.top li {
  margin-bottom: var(--spacing-3);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--text-primary);
}

.bottom {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  margin-top: var(--spacing-6);
}

.bottom_start {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2) var(--spacing-4);
  width: fit-content;
}

.bottom_end {
  text-align: end;
}

.support_number {
  margin-top: var(--spacing-3);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  color: var(--text-support-phone);
}

.copyright {
  width: 100%;
  padding: var(--spacing-2) 0;
  margin-top: var(--spacing-2);
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);
  color: var(--text-copyright);
  text-align: center;
  border-top: var(--border-width-thin) solid var(--border-color-muted);
}

@media (width >= 768px) {
  .header {
    padding: var(--spacing-3) 8%;
  }

  .navbar {
    display: flex;
  }

  .menuBtn {
    display: none;
  }

  .footer::after {
    background: none;
  }

  .footer_content {
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacing-5);
    border-top: var(--border-width-thin) solid var(--border-color-muted);
  }

  .top {
    gap: var(--spacing-10);
  }

  .top h2 {
    margin-bottom: var(--spacing-5);
    font-size: var(--fs-2xl);
  }

  .top li {
    margin-bottom: var(--spacing-3);
    font-size: var(--fs-lg);
  }

  .bottom {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .bottom_start {
    order: 2;
    margin-top: var(--spacing-6);
  }

  .bottom_end img {
    width: 146px;
    height: 44px;
    margin-top: var(--spacing-3);
  }

  .bottom_start img {
    width: 70px;
    height: 75px;
  }

  .bottom_start img:nth-child(1) {
    order: 3;
  }
  .bottom_start img:nth-child(2) {
    order: 4;
  }
  .bottom_start img:nth-child(3) {
    order: 5;
  }
  .bottom_start img:nth-child(4) {
    order: 1;
  }
  .bottom_start img:nth-child(5) {
    order: 2;
  }

  .support_number {
    font-size: var(--fs-base);
  }

  .bottom_start {
    gap: var(--spacing-6);
  }

  .copyright {
    padding: var(--spacing-3) 0;
    margin-top: var(--spacing-5);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
  }
}

@media (width >= 1024px) {
  .header {
    padding: var(--spacing-3) 8%;
  }

  .logo {
    width: 146px;
    height: 44px;
  }

  .navbar {
    gap: var(--spacing-9);
  }

  .menuList {
    gap: var(--spacing-6);
  }

  .menuBtn {
    display: none;
  }
}
