.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  mix-blend-mode: 20px;
  box-shadow: 0px 1px 4px 0px #00000040;
}

.menuBtn {
  width: 20px;
  height: 16px;
  position: relative;
}

.menuBtn::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #10411b;
  box-shadow:
    0 7px 0 #10411b,
    0 14px 0 #10411b;
}

.content{
  width: 100%;
  margin: 0 auto;
}

.footer {
  padding: 24px 30px 0px;
  position: relative;
}

.footer::after {
  content: "";
  width: auto;
  height: 1px;
  background: repeating-linear-gradient(to left,#00000040 0px 8px, transparent 8px 16px);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 0;
}


.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top h2{
  font-weight: 600;
  font-size: 22px;
  color: #282828;
  margin-bottom: 20px;
}

.top li{
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  margin-bottom: 10px;
}

.bottom{
  display: grid;
  grid-template-columns: minmax(auto , 1fr) minmax(auto , 1fr);
  margin-top: 37px;
}


.bottom_start{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.bottom_end{
  text-align: end;
}

.support_number{
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.copyright{
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  border-top: 1px solid #00000040;
  padding: 8px 0;
  text-align: center;
  margin-top: 7px;
}