.buyBtn {
  padding: 8px clamp(var(--spacing-6), 1.48vw + 1.667rem, var(--spacing-7));
  font-size: clamp(var(--fs-xl), 0.37vw + 1.167rem, var(--fs-2xl));
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
}

.buyBtn:disabled {
  cursor: auto;
  opacity: 0.7;
}

.fullNotice {
  font-weight: var(--fw-medium);
}
