.buyBtn {
  padding: 8px 30px;
  color: #fff;
  border-radius: 10px;
  background-color: #28a745;
  font-size: 24px;
  font-weight: 400;
}

.buyBtn:disabled{
  opacity: .7;
  cursor: auto;
}

.fullNotice{
  font-weight: 500;
}
