.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(var(--spacing-5), 2.3rem - 1vw, var(--spacing-6));
  margin-bottom: clamp(var(--spacing-6), -2.18rem + 17.68vw, var(--spacing-12));
  margin-top: clamp(var(--spacing-4), 0.5rem + 1.67vw, var(--spacing-6));

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
  }
}

.container > form {
  width: 100%;

  @media (min-width: 768px) {
    width: 65%;
  }

  @media (min-width: 1025px) {
    width: 35%;
  }
}
