.container{
  border-radius: 10px;
  border: 1px solid #00000040;
  margin-bottom: 90px;
}

.top{
  display: flex;
  background-color: #28A745;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  padding: 12px 12px 55px;
}


.top img{
  position: absolute;
  left: 0;
  bottom: 0;
}

.title{
  font-weight: 800;
  font-size: 22px;
  color: #fff;
  margin-bottom: 8px;
}

.title span{
  color: #10411B;
}

.description{
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.phoneNumber{
  font-weight: 700;
  font-size: 20px;
  color: #282828;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}


.moreInfoBtn{
  background-color: #10411B;
  color: #fff;
  border-radius: 8px;
  padding: 8px 28px;
  font-size: 14px;
  font-weight: 500;
}


