.tour-date-picker .rmdp-container {
  width: 100%;
}

.tour-date-picker .tour-input {
  border: 1px solid #00000026;
  border-radius: 12px;
  padding: 14px 16px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 287px !important;
  width: 100% !important;
  color: #00000080;
  font-weight: 400;
  font-size: 16px;
}

.tour-date-picker .ep-arrow {
  display: none;
}

.tour-date-picker .rmdp-container > div:nth-child(3) {
  width: 100% !important;
  padding: 0 31px;
  margin-top: -3px;
}

.tour-date-picker .rmdp-wrapper {
  background-color: #fff !important;
  width: 100% !important;
  box-shadow: none !important;
  border: 1px solid #00000040;
  border-radius: 12px !important;
}

.tour-date-picker .rmdp-header-values {
  color: #fff !important;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 11px;
  background: #28a745;
  border-radius: 4px;
}

.tour-date-picker .rmdp-arrow {
  border-color: #28a745 !important;
}

.tour-date-picker .rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.tour-date-picker .rmdp-day-picker > div {
  width: 100% !important;
}

.tour-date-picker .rmdp-week-day {
  font-weight: 400;
  font-size: 11px;
  color: #10411b !important;
}

.tour-date-picker .rmdp-week-day:last-child {
  color: #28a745 !important;
}

.tour-date-picker .rmdp-week {
  align-items: baseline !important;
}

.tour-date-picker .sd {
  background-color: transparent !important;
  color: #616161 !important;
  opacity: 0.8 !important;
}

.tour-date-picker .holiday-day {
  color: #28a745 !important;
}

.tour-date-picker .rmdp-day.rmdp-selected span {
  background-color: #28a745 !important;
  color: #fff !important;
  border-radius: 4px;
  padding: 3px 5px !important;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 11px;
}

.tour-date-picker .rmdp-day.rmdp-selected span:hover {
  opacity: 0.8;
}

.tour-date-picker .rmdp-today span {
  background-color: transparent !important;
  color: #28a745 !important;
  border: 1px solid #28a745;
  border-radius: 4px !important;
  padding: 3px 5px !important;
  box-shadow: none !important;
}

.tour-date-picker .rmdp-calendar {
  width: 100% !important;
  padding: 0 !important;
}
