.tour-date-picker .rmdp-container {
  width: 100%;
}

.tour-date-picker .tour-input {
  border: var(--border-width-thin) solid var(--border-color-subtle);
  border-radius: var(--radius-lg);
  padding: var(--spacing-3) var(--spacing-4);
  background-color: white;
  cursor: pointer;
  transition: var(--transition-duration-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  width: 100% !important;
  color: #00000080;
}

.tour-date-picker .ep-arrow {
  display: none;
}

.tour-date-picker .rmdp-container > div:nth-child(3) {
  width: 100% !important;
  max-width: 268px;
  padding: 0 var(--spacing-6);
  margin-top: -3px;
}

.tour-date-picker .rmdp-wrapper {
  background-color: var(--bg-surface) !important;
  width: 100% !important;
  box-shadow: none !important;
  border: var(--border-width-thin) solid #00000040;
  border-radius: var(--radius-lg) !important;
}

.tour-date-picker .rmdp-header-values {
  color: var(--color-on-primary) !important;
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--fs-xs);
  background: var(--color-primary);
  border-radius: var(--radius-sm);
}

.tour-date-picker .rmdp-arrow {
  border-color: var(--color-primary) !important;
}

.tour-date-picker .rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.tour-date-picker .rmdp-day-picker > div {
  width: 100% !important;
}

.tour-date-picker .rmdp-week-day {
  font-size: var(--fs-xs);
  color: var(--color-primary-dark) !important;
}

.tour-date-picker .rmdp-week-day:last-child {
  color: var(--color-primary) !important;
}

.tour-date-picker .rmdp-week {
  align-items: baseline !important;
}

.tour-date-picker .sd {
  background-color: transparent !important;
  color: #616161 !important;
  opacity: 0.8 !important;
}

.tour-date-picker .holiday-day {
  color: var(--color-primary) !important;
}

.tour-date-picker .rmdp-day.rmdp-selected span {
  background-color: var(--color-primary) !important;
  color: var(--color-on-primary) !important;
  border-radius: var(--radius-sm);
  padding: var(--spacing-1) !important;
  box-shadow: none !important;
  font-size: var(--fs-xs);
}

.tour-date-picker .rmdp-day.rmdp-selected span:hover {
  opacity: 0.8;
}

.tour-date-picker .rmdp-today span {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border: var(--border-width-thin) solid var(--color-primary);
  border-radius: var(--radius-sm) !important;
  padding: var(--spacing-1) !important;
  box-shadow: none !important;
}

.tour-date-picker .rmdp-calendar {
  width: 100% !important;
  padding: 0 !important;
}

.tour-date-picker .rmdp-range {
  background-color: var(--color-primary) !important;
  border-radius: 50%;
}

.tour-date-picker .rmdp-range .sd {
  color: var(--color-on-primary) !important;
}

.tour-date-picker .rmdp-range-hover {
  background-color: #28a74626 !important;
  border-radius: 50%;
}

@media (width >= 768px) {
  .tour-date-picker .rmdp-container {
    max-width: 100%;
  }
  .tour-date-picker .rmdp-container > div:nth-child(3) {
    width: 268px !important;
    padding: 0;
  }
  .tour-date-picker .tour-input {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    padding: var(--spacing-3) var(--spacing-4);
    border: none;
    justify-content: start;
    color: #2c2c2c;
    font-size: var(--fs-xl) !important;
  }
}
