.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.title{
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.accountInfo, .bankInfo, .personalInfo{
  border: 1px solid #00000033;
  border-radius: 10px;
  padding: 16px 20px;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionBtn{
  font-weight: 400;
  font-size: 14px;
  color: #009ECA;
  display: flex;
  align-items: center;
  gap: 8px;
}

.label{
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.value{
  font-weight: 400;
  font-size: 14px;
  color: #282828;
}

.field{
  display: flex;
  align-items: center;
  gap: 8px;
}

.field input{
  width: 186px;
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 5px;
  padding: 8px;
  font-weight: 400;
  font-size: 12px;
}

.field button{
  background-color: #28A745;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}