.accountInfo,
.bankInfo,
.personalInfo {
  border: var(--border-width-thin) solid var(--border-color-muted);
  background-color: var(--bg-base);
  border-radius: var(--radius-lg);
  padding: clamp(var(--spacing-3), 1.12rem - 0.5vw, var(--spacing-4));
  margin-bottom: var(--spacing-5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-5);
}

.title {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-base);
  color: #000;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-5);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: var(--spacing-3);
  }
}

.label {
  font-weight: var(--fw-light);
  font-size: var(--fs-sm);
  color: #000;
  white-space: nowrap;
}

.value {
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--text-primary);
}

.emailWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-3);
}

.actionBtn {
  font-size: var(--fs-sm);
  color: var(--color-primary-action);
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);
  cursor: pointer;
}
