.card{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px #00000040;
}


.card img{
  background-size: cover;
}



.card img{
  height: 159px;
  width: 100%;
}


.name{
  color: #000;
  font-weight: 400;
  font-size: 22px;
  margin: 8px 0 6px;
  padding-inline-start: 10px;
}


.description{
  font-weight: 400;
  font-size: 15px;
  color: #282828B2;
  margin-bottom: 6px;
  padding-inline-start: 10px;

}


.cardBtn{
  background: #28A745;
  width: 99px;
  height: 29px;
  border-radius: 4px;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
}


.cardFooter{
  border-top: 1px solid #0000001F;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.price{
  color: #009ECA;
  font-weight: 400;
  font-size: 16px;
}


.unit{
  color: #000;
  font-weight: 400;
  font-size: 12px;
}