.fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-5) var(--spacing-4);
  }
}

.field > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.field input {
  width: 100%;
  height: 40px;
  border: var(--border-width-thin) solid var(--border-color-prominent);
  border-radius: var(--radius-sm);
  padding: var(--spacing-2);
  font-size: clamp(var(--fs-xs), 0.625rem + 0.416vw, var(--fs-sm));
  outline: none;
}

.field--error input {
  border-color: var(--input-border-error);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  margin: var(--spacing-5)
    calc(clamp(var(--spacing-3), 1.12rem - 0.5vw, var(--spacing-4)) * -1) 0;
  padding: 0 clamp(var(--spacing-3), 1.12rem - 0.5vw, var(--spacing-4));

  @media (min-width: 768px) {
    border-top: var(--border-width-thin) solid var(--border-color-muted);
    padding-top: var(--spacing-2);
    justify-content: end;
  }
}

.actions button {
  width: 100%;
  height: 40px;
  border-radius: var(--radius-sm);
  padding: var(--spacing-2);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-base);

  @media (min-width: 768px) {
    width: 144px;
  }
}
.confirmBtn {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.cancelBtn {
  border: var(--border-width-medium) solid var(--color-primary);
  color: var(--color-primary);
}

.field > div > button {
  background-color: var(--color-primary);
  min-width: 90px;
  height: 40px;
  border-radius: var(--radius-sm);
  padding: var(--spacing-2);
  font-weight: var(--fw-semibold);
  color: var(--color-on-primary);
  font-size: var(--fs-base);

  @media (min-width: 768px) {
    min-width: 122px;
  }
}

.errorMessage {
  color: var(--input-text-error);
  font-size: var(--fs-xs);
  padding: var(--spacing-1) var(--spacing-1) 0;
}

.field {
  position: relative !important;
}

.field > div > div > div {
  min-width: 287px !important;
  width: 100% !important;
}

.field--error > div > div > div {
  border: var(--border-width-thin) solid var(--input-border-error) !important;
}
