.allToursBtn {
  display: inline-block;
  margin: var(--spacing-3) 0;
  border-radius: var(--radius-md);
  background: var(--color-primary);
  color: var(--color-on-primary);
  font-size: var(--fs-base);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: var(--spacing-2);
  grid-template-areas:
    "a b"
    "c c"
    "d d";
}

.inputWrapper:nth-child(1) {
  grid-area: a;
}
.inputWrapper:nth-child(2) {
  grid-area: b;
}
.container div:nth-child(3) {
  grid-area: c;
  margin-top: var(--spacing-1);
}
.container > button {
  grid-area: d;
  margin-top: var(--spacing-3);
  border-radius: var(--radius-lg);
  background: var(--color-primary);
  color: var(--color-on-primary);
  font-size: var(--fs-xl);
  padding: var(--spacing-2);
  width: 100%;
}
.inputWrapper {
  border: var(--border-width-thin) solid var(--border-color-subtle);
  border-radius: var(--radius-lg);
  color: #00000080;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: var(--spacing-3);
}

.inputWrapper input {
  position: absolute;
  border: none;
  outline: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-align: center;
  background: var(--bg-input);
}

.label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  color: #00000080;
}

@media (width >= 768px) {
  .container {
    max-width: 874px;
    margin: 0 auto;
    border: var(--border-width-thin) solid var(--border-color-subtle);
    border-radius: var(--radius-xl);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas: "a b c d";
    padding: var(--spacing-2);
  }
  .inputWrapper:nth-child(1) {
    flex: 1;
  }
  .inputWrapper:nth-child(2) {
    flex: 1;
  }

  .container div:nth-child(3) {
    margin-top: 0;
    flex: 1;
  }

  .container > button {
    flex: 1;
    margin-top: 0;
    height: 100%;
    font-size: var(--fs-2xl);
  }
}
