.container {
  width: 100%;
  padding: var(--spacing-4);
  border: var(--border-width-thin) solid var(--border-color-muted);
  border-radius: var(--radius-lg);
}

.title {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-regular);
  color: #000;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(var(--spacing-4), 1.8rem - 1vw, var(--spacing-5));
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.form > div {
  position: relative;
  width: 100%;
}

.field {
  width: 100%;
  padding: var(--spacing-3) var(--spacing-2);
  outline: none;
  border: var(--border-width-thin) solid var(--border-color-prominent);
  border-radius: var(--radius-sm);
}

.field--error {
  border-color: var(--input-border-error);
}

.field--error > div > div > div,
.field--error > div > input {
  border-color: var(--input-border-error) !important;
}

.field option {
  width: 100%;
}

.errorMessage {
  padding: var(--spacing-1) var(--spacing-1) 0;
  font-size: var(--fs-xs);
  color: var(--input-text-error);
}
