.container {
  padding: 20px 16px;
  border-radius: 10px;
  border: 1px solid #00000033;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  margin-bottom: 18px;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.form > div {
  position: relative;
}

.field {
  width: 287px;
  padding: 12px 8px;
  border: 1px solid #00000080;
  border-radius: 5px;
  outline: none;
}

.field--error {
  border-color: #f43f5e;
}

.field--error > div > div > div,
.field--error > div > input {
  border-color: #f43f5e;
}

.field option {
  width: 100%;
}

.errorMessage {
  color: #f43f5e;
  font-size: 12px;
  padding: 4px 2px 0;
}
