.container {
  padding-top: var(--spacing-7);
  margin-bottom: var(--spacing-6);
  border-top: var(--border-width-thin) solid var(--border-color-muted);
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  max-width: var(--container-max-width);
  padding: 0 var(--spacing-6);
  margin: auto;
}

.card {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}

.title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

.description {
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);
}

@media (width >= 768px) {
  .features {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
  }

  .card {
    flex: 1 1 0;
  }

  .card img {
    width: 120px;
    height: 110px;
  }
  .title {
    font-size: var(--fs-2xl);
  }

  .description {
    font-size: var(--fs-base);
  }
}
