.birth-date-picker .rmdp-container {
  width: 100%;
}

.birth-date-picker .tour-input {
  width: 287px;
  padding: var(--spacing-3) var(--spacing-2);
  border: var(--border-width-thin) solid var(--color-border-input);
  border-radius: var(--radius-sm);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  gap: var(--spacing-2);
  background-color: var(--bg-input);
}

.birth-date-picker .ep-arrow {
  display: none;
}

.birth-date-picker .rmdp-container > div:nth-child(3) {
  width: 100% !important;
  padding: 0 0;
  margin-top: -3px;
}

.birth-date-picker .rmdp-wrapper {
  background-color: var(--bg-surface) !important;
  width: 100% !important;
  box-shadow: none !important;
  border: var(--border-width-thin) solid var(--color-border-subtle);
  border-radius: var(--radius-lg) !important;
}

.birth-date-picker .rmdp-header-values {
  color: var(--color-on-primary) !important;
  padding: var(--spacing-1) var(--spacing-2);
  font-weight: var(--fw-regular);
  font-size: var(--fs-xs);
  background: var(--color-primary);
  border-radius: var(--radius-sm);
}

.birth-date-picker .rmdp-arrow {
  border-color: var(--color-primary) !important;
}

.birth-date-picker .rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.birth-date-picker .rmdp-day-picker > div {
  width: 100% !important;
}

.birth-date-picker .rmdp-week-day {
  font-weight: var(--fw-regular);
  font-size: var(--fs-xs);
  color: var(--color-primary-dark) !important;
}

.birth-date-picker .rmdp-week-day:last-child {
  color: var(--color-primary) !important;
}

.birth-date-picker .rmdp-week {
  align-items: baseline !important;
}

.birth-date-picker .sd {
  background-color: transparent !important;
  color: #616161 !important;
  opacity: 0.8 !important;
}

.birth-date-picker .holiday-day {
  color: var(--color-primary) !important;
}

.birth-date-picker .rmdp-day.rmdp-selected span {
  background-color: var(--color-primary) !important;
  color: var(--color-on-primary) !important;
  border-radius: var(--radius-sm);
  padding: var(--spacing-1) var(--spacing-2) !important;
  box-shadow: none !important;
  font-weight: var(--fw-regular);
  font-size: var(--fs-xs);
}

.birth-date-picker .rmdp-day.rmdp-selected span:hover {
  opacity: 0.8;
}

.birth-date-picker .rmdp-today span {
  background-color: transparent !important;
  padding: var(--spacing-1) var(--spacing-2) !important;
  box-shadow: none !important;
}

.birth-date-picker .rmdp-calendar {
  width: 100% !important;
  padding: 0 !important;
}

.birth-date-picker .emptyValue {
  color: var(--text-placeholder);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  cursor: pointer;
  user-select: none;
}

.birth-date-picker .value {
  color: var(--text-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  cursor: pointer;
}
