.container {
  display: flex;
  align-items: center;
  padding: var(--spacing-3);
}

.container > p {
  flex: 1;
  text-align: center;
}

.type {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.orderId,
.amount {
  font-size: clamp(var(--fs-xs), 0.625rem + 0.416vw, var(--fs-sm));
  font-weight: var(--fw-light);
  color: #000;
  text-align: center;
}

.time {
  font-size: clamp(var(--fs-xs), 0.625rem + 0.416vw, var(--fs-sm));
  font-weight: var(--fw-light);
  text-align: center;
}
