.container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.44);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 358px;
  /* height: 362px; */
  border-radius: 20px;
  padding: 24px;
  background-color: #fff;
  position: relative;
}

.backBtn {
  position: absolute;
  left: 24px;
  top: 24px;
  font-size: 18px;
  color: #171717;
}

.title {
  font-weight: 600;
  font-size: 22px;
  color: #282828;
  margin-top: 47px;
  margin-bottom: 18px;
  text-align: center;
}

.form form {
  padding: 0 16px 16px;
}

.message {
  font-size: 400;
  font-size: 14px;
  color: #282828;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #282828;
  margin-top: 24px;
}

.resendOtp {
  cursor: pointer;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #282828;
  margin-top: 24px;
}


.time span {
  font-weight: 500;
}

.form button {
  margin-top: 28px;
  border-radius: 6px;
  background-color: #28a745;
  border: 1px solid #00000040;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  width: 100%;
}

.otpInputs {
  width: 100%;
}

.otpInputs > div {
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  direction: ltr;
  display: grid;
  grid-template-columns: repeat(6, 10%);
  gap: 6px;
}

.otpInputs input {
  width: calc(100% / 6) !important;
  height: 45px !important;
  border-radius: 6px;
  border: 1px solid #00000040;
  outline: none;
  text-align: center;
}
