.closeBtn {
  position: absolute;
  top: var(--spacing-5);
  left: var(--spacing-5);
  font-size: var(--fs-lg);
  cursor: pointer;
  transform: rotate(45deg);
}

.title {
  margin: clamp(var(--spacing-6), -2vw + 56px, var(--spacing-7)) 0;
  font-size: clamp(var(--fs-2xl), 1.2vw + 1.2rem, var(--fs-3xl));
  font-weight: var(--fw-semibold);
  text-align: center;
}

.form form {
  padding: 0 var(--spacing-4) var(--spacing-4);
}

.form form label {
  display: inline-block;
  margin-bottom: var(--spacing-3);
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
  color: #000;
}

.form form input {
  width: 100%;
  height: 54px;
  padding: var(--spacing-4) var(--spacing-2);
  outline: none;
  border: var(--border-width-thin) solid var(--border-color-default);
  border-radius: var(--radius-md);
  direction: ltr;
}

.form form .field--error input {
  border-color: var(--input-border-error);
}

.form button {
  width: 100%;
  padding: var(--spacing-3);
  margin-top: var(--spacing-6);
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);
  color: var(--color-on-primary);
  background-color: var(--color-primary);
  border: var(--border-width-thin) solid var(--border-color-default);
  border-radius: var(--radius-md);
}

.errorMessage {
  padding: var(--spacing-1) var(--spacing-1) 0;
  font-size: var(--fs-xs);
  color: var(--input-text-error);
}
