.loginBtn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #28a745;
  cursor: pointer;
}
